numpy
omegaconf==2.3.0
opencv-python==4.11.0.86
# opencv-python-headless==4.5.5.64
opencv-python-headless
timm==0.5.4
# torch==2.1.0
torch
# torchvision==0.16.0
torchvision
# transformers==4.47.0
transformers
accelerate==1.6.0
pymupdf==1.26
